#cssmenu ul {margin: 0; padding: 7px 6px 0; background: #7d7d7d url(images/overlay.png) repeat-x 0 -110px; line-height: 100%; border-radius: 1em; font: normal .8em/1.5em Arial, Helvetica, sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {margin: 0 5px; padding: 0 0 8px; float: left; position: relative; list-style: none; }
#cssmenu a,
#cssmenu a:link {font-weight: bold; color: #e7e5e5; text-decoration: none; display: block; padding:  8px 20px; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;	 text-shadow: 0 1px 1px rgba(0,0,0, .3); }
#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a, 
#cssmenu li:hover > a {background: #666 url(images/overlay.png) repeat-x 0 -40px; color: #444; border-top: solid 1px #f8f8f8; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); box-shadow: 0 1px 1px rgba(0,0,0, .2); text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {background: none; border: none; color: #666; -webkit-box-shadow: none; -moz-box-shadow: none;}
#cssmenu ul ul a:hover {background: #8f8f8f url(images/overlay.png) repeat-x 0 -100px !important; color: #fff !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0 1px 1px rgba(0,0,0, .1);}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 40px; left: 0; background: #ddd url(images/overlay.png) repeat-x 0 0; border: solid 1px #b4b4b4; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
* html #cssmenu  ul {height: 1%;}


div
	{
		margin-left:20px;
	}
	div.align
	{
		position:relative;
		float:right;
	}
	#capsule
	{
		float:left;
		margin-top:80px;
		position:absolute;
	}
	#arrow
	{
		float:left;
		height:30%;
		width:30%;
		margin-top: 40px;
		margin-left: 50px;
		position:absolute;
		opacity:0.7;
	}
	#confused
	{
		position:relative;
		margin-left: 250px;
		margin-top: 130px;
		height:20%;
		width:20%;
	}
	#text
	{
		margin-top: -60px;
		margin-left: 460px;
	}	
	#helpyou
	{
		font-family: Arial;
		font-weight: bold;
		font-size: 3em;
		color: #b21111;
	}	
	a
	{
		margin-left: 320px;
	}
	
	#cssmenu
	{
		margin-top: 10px;
		margin-left: 20px;
	}
	
	div.sign
	{
		height: 250px;
		background-color: #E8E8E8; /* #a2b5cd or #add8e6 or #91a3b0*/
		margin: 70px 30px 10px 10px;
		padding-left:15px;
	}
	.but1
	{
		text-decoration:none; 
		text-align:center; 
		padding:11px 14px; 
		border:solid 1px #004F72; 
		-webkit-border-radius:7px;
		-moz-border-radius:7px; 
		border-radius: 7px; 
		font:15px Arial, Helvetica, sans-serif; 
		font-weight:bold; 
		color:#E5FFFF; 
		background-color:#25addb; 
		background-image: -moz-linear-gradient(top, #25addb 0%, #03a3d9 100%); 
		background-image: -webkit-linear-gradient(top, #25addb 0%, #03a3d9 100%); 
		background-image: -o-linear-gradient(top, #25addb 0%, #03a3d9 100%); 
		background-image: -ms-linear-gradient(top, #25addb 0% ,#03a3d9 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a3d9', endColorstr='#03a3d9',GradientType=0 ); 
		background-image: linear-gradient(top, #25addb 0% ,#03a3d9 100%);   
		-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
		-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
		box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	}
	
	.but2
	{
		text-decoration:none; 
		text-align:center; 
		padding:7px 17px; 
		border:solid 1px #7a0000; 
		-webkit-border-radius:7px;
		-moz-border-radius:7px; 
		border-radius: 7px; 
		font:15px Arial, Helvetica, sans-serif; 
		font-weight:bold; 
		color:#E5FFFF; 
		background-color:#db3a25; 
		background-image: -moz-linear-gradient(top, #db3a25 0%, #d92109 100%); 
		background-image: -webkit-linear-gradient(top, #db3a25 0%, #d92109 100%); 
		background-image: -o-linear-gradient(top, #db3a25 0%, #d92109 100%); 
		background-image: -ms-linear-gradient(top, #db3a25 0% ,#d92109 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92109', endColorstr='#d92109',GradientType=0 ); 
		background-image: linear-gradient(top, #db3a25 0% ,#d92109 100%);   
		-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
		-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
		box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	}
	
	#signin
	{
		font-size: 1.2em;
	}
	td
	{
		padding:7px;
	}
	table
	{
		font-family: Georgia;
		font-weight: 600;
		font-size: 1.1em;
	}
	div.register
	{
		text-align:center;
		position:absolute;
		float:right;
		top:330px;
	}
	#new_user
	{
		color: blue;
		font-weight: bold;
	}
	#content
	{
		margin-top: 50px;
		margin-left: 35px;
	}
	
	.but5{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:10px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#1c1f1f; 
 background-color:#d9d9d9; 
 background-image: -moz-linear-gradient(top, #d9d9d9 0%, #a8a8a8 100%); 
 background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #a8a8a8 100%); 
 background-image: -o-linear-gradient(top, #d9d9d9 0%, #a8a8a8 100%); 
 background-image: -ms-linear-gradient(top, #d9d9d9 0% ,#a8a8a8 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#a8a8a8',GradientType=0 ); 
 background-image: linear-gradient(top, #d9d9d9 0% ,#a8a8a8 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 
  }